<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.claramae.myscreensaver.idlewatcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/claramae/Library/Application Support/My Screensaver/my-screensaver-watch.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>10</integer>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MY_SCREENSAVER_IDLE_SECONDS</key>
    <string>60</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/com.claramae.myscreensaver.idlewatcher.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.claramae.myscreensaver.idlewatcher.err.log</string>
</dict>
</plist>
